<!DOCTYPE html>

<html lang="en-US">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Scripts -->
        <script src="/js/layout.js"></script>
    </head>
    <body>
        <!-- ADD STUFF HERE TO GO ABOVE EACH INDIVIDUAL PAGE -->

        {{{ body }}}
        
        <!-- ADD STUFF HERE TO GO BELOW EACH INDIVIDUAL PAGE -->
    <nav>
        <ul>
            <li>
                <a href="#">Community Members-register </a>
                </li>
            <li>
                <a href="#">Food Pantry/Stores-register</a>
                </li>
            </ul>
    </nav>
    
    </body>
</html>