<!DOCTYPE html>

<html lang="en-US">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Scripts -->
        <script src="/js/layout.js"></script>
    </head>
    <body>
        <!-- ADD STUFF HERE TO GO ABOVE EACH INDIVIDUAL PAGE -->
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Community</button>
                <div class="dropdown-content">
                    <a href="#">Register</a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <button class="dropbtn">Food Pantry/Stores</button>
                <div class="dropbtn-content">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div>

        {{{ body }}}
        
        <!-- ADD STUFF HERE TO GO BELOW EACH INDIVIDUAL PAGE -->
    </body>
</html>