<!DOCTYPE html>

<html lang="en-US">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Scripts -->
        <script src="/js/layout.js"></script>
    </head>
    <body>

        <nav>
            <ul class="nav-bar-ul">
                <li class="nav-bar-li"><a href="/">Home</a></li>
                <li class="nav-bar-li"><a href="/login">Login</a></li>
                <li class="nav-bar-li"><a href="/inventory">Inventory</a></li>
            </ul>
        </nav>

        <!-- ADD STUFF HERE TO GO ABOVE EACH INDIVIDUAL PAGE -->

        {{{ body }}}
        
        <!-- ADD STUFF HERE TO GO BELOW EACH INDIVIDUAL PAGE -->
        
    </body>
</html>