<!DOCTYPE html>

<html lang="en-US">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

        <!-- Scripts -->
        <script src="/js/layout.js"></script>
    </head>
    <body>
        <h1>Food Bank</h1>
        {{#if user includeZero=true}}
        <div>Logged in as {{ user.email }}</div>
        {{/if}} 
        <nav>
            <ul class="nav-bar-ul">
                <li class="nav-bar-li"><a href="/">Home</a></li>
                <li class="nav-bar-li"><a href="/login">Login</a></li>
                <li class="nav-bar-li"><a href="/inventory">Inventory</a></li>
            </ul>
        </nav>

        <!-- ADD STUFF HERE TO GO ABOVE EACH INDIVIDUAL PAGE -->

        {{{ body }}}
        
        <!-- ADD STUFF HERE TO GO BELOW EACH INDIVIDUAL PAGE -->
        
    </body>
</html>