<!-- Styles -->
<link rel="stylesheet" href="/css/home.css">

<!-- Scripts -->
<script src="/js/home.js"></script>

<h1>{{{ title }}}</h1>
<div class="container">
    <div class="titular">
        <img src="/img/foodbanklogo.jpeg" alt="foodbank"/>   <!---Image from Google-->
    </div>
</div>

<div class="context">
    <h1>About the Food Bank</h1>
    <p class="line"></p>
    <p> Members can see the food availabilty from registered Food Pantries and Stores. 
        Food Pantries and Stores can submit any food item that is available. The 
        community members will be notified when food is available.</p>
</div>

<div class="grid">
    <img src="/img/4928.jpg" alt="food">   <!---Image from Google-->
    <img src="/img/Foodbank.jpg" alt="foodinboxes">    <!---Image from Google-->
    <img src="/img/foodbank4.jpg" alt="foodboxes">     <!---Image from Google-->
</div>