<!-- Styles -->
<link rel="stylesheet" href="/css/inventory.css">

<!-- Scripts -->
<script src="/js/inventory.js"></script>
<script> const foodItems = {{{ stringify food }}}; </script>

{{#if itemAdded}}
    <h2 style="color: green;">**Item Successfully Added**</h2>
{{/if}}

{{#if itemDeleted}}
    <h2 style="color: green;">**Item Successfully Deleted**</h2>
{{/if}} 

{{#if itemError}}
    <h2 style="color: red;">**Error Completing This Action**</h2>
{{/if}} 


{{#ifCond user employee}}
    <div class="employeeOnlyContainer">
        <h2><b>EMPLOYEE ONLY</b></h1>
        <h4 style="margin-top:25px;">Add Items to Food Bank Database</h2>
        <div class="form">
            <form name="itemForm" action="/inventory" method="POST">
                <div class="form-group">
                    <label for="item">Item</label>
                    <input type="text" name="item" class="form-control" id="item" placeholder="Ex: Bananas">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <select class="form-control" name="location" id="location">
                        <option>Romeoville</option>
                        <option>Joliet</option>
                        <option>Lockport</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category">
                        <option>Food</option>
                        <option>Drink</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Ex: 15">
                </div>
                <button type="submit" class="button btn-primary">Add to Database</button>
            </form>
        </div>
        <h4 style="margin-top:25px;">Remove Items from Food Bank Database</h2>
        <div class="form">
            <form name="itemForm" action="/inventoryDelete" method="POST">
                <div class="form-group">
                    <label for="item">Item to Delete</label>
                    <input type="text" name="item" class="form-control" id="item" placeholder="Ex: Bread">
                </div>
                <button type="submit" class="button btn-primary">Delete</button>
            </form>
        </div>
    </div>
{{/ifCond}} 

<h3>Available Items</h3>
<div id="food-container"></div>