<!-- Styles -->
<link rel="stylesheet" href="/css/inventory.css">

<!-- Scripts -->
<script src="/js/inventory.js"></script>

<label for="Community Member">Community Member</label>
    <input type="checkbox" id="community" onclick="myFunction()">
<label for="Food Pantry/Store Member">Food Pantry/Store Member</label>
    <input type="checkbox" id="pantry" onclick="myFunction1()">

<div id="food-container"></div>