<!-- Styles -->
<link rel="stylesheet" href="/css/login.css">

<!-- Scripts -->
<script src="/js/login.js"></script>

<h1 id="login-header">Register</h1>

<form div class="container">
    <label for="email">Enter Email:</label>
    <input type="text" placeholder="Enter Email" name="email">
    <label for="pwd">Password:</label>
    <input type="password" placeholder="Enter password" name="pwd">
    <label for="confirm">Confirm Password:</label>
    <input type="password" placeholder="Confirm Password" name="confirm">
    <button type="submit" onclick="window.location.href='/inventory'" class="register">Register</button>
    </div>
</form>

<h1>Login</h1>
<form name="loginForm">
    <label for="username">Username: </label>
    <input type="text" id="username">
    <label for="password">Password: </label>
    <input type="password" id="pwd">
    <button type="submit" onclick="window.location.href='/inventory'" class="login">Login</button>
</form>
