<!-- Styles -->
<link rel="stylesheet" href="/css/login.css">

<!-- Scripts -->
<script src="/js/login.js"></script>

<h1 id="login-header">Register</h1>

<form div class="container reg_container">
    <div class="row reg_row">
        <label for="email" style="margin-right:45px;">Enter Email:</label>
        <input type="text" placeholder="Enter Email" name="email">
    </div>
    <div class="row reg_row">
        <label for="pwd" style="margin-right:55px;">Password:</label>
        <input type="password" placeholder="Enter password" name="pwd">
    </div>
    <div class="row reg_row">
        <label for="confirm">Confirm Password:</label>
        <input type="password" placeholder="Confirm Password" name="confirm">
    </div>
    <button type="submit" class"registerbtn">Register</button>
    </div>
</form>

<h1>Login</h1>
<form name="loginForm">
    <label for="username">Username: </label>
    <input type="text" id="username">
    <label for="password">Password: </label>
    <input type="password" id="pwd">
    <button type="submit" class="login">Login</button>
</form>