.employeeOnlyContainer {
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    background: lightgray;
    border-width: 10px;
    border-radius: 20px;
}

#food-container {
    /* MAKE FLEX */
    max-width: 1160px;
    margin: auto;
    justify-content: center;
}

.tile {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 15px;
}

.tile-img {
    max-width: 150px;
}