#main-holder {
    background-color: white;
}


#login-error-msg-holder {
    text-align: center;
}


#login-error-msg {
    text-align: center;
}


#login-form {
    text-align: center;
}


.login-form-field::placeholder {
    color: #424141
}


#login-form-submit {
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: gray;
    cursor: pointer;
    outline: none;
}

body{
    /* background-image: url("/img/login_bg.jpg"); */
    background-position: center;
    background-size: cover;
    color: white;
}

.box{
    height: 300px;
    background-color: rgba(28, 78, 56, 0.7);
    padding: 2%;
    margin: 1%;
    filter: drop-shadow(0 -6mm 4mm rgb(127, 216, 174));
    z-index: 50px;
}
button{
    color: black;
    filter: drop-shadow(2mm 2mm 2mm rgb(6, 46, 27));
}

.button {
    transition-duration: 0.4s;
    border-radius: 10px;
    width: 100px;
  }
  
  .button:hover {
    background-color: rgb(0, 44, 11); /* Green */
    color: white;
  }