#main-holder {
    background-color: white;
}


#login-error-msg-holder {
    text-align: center;
}


#login-error-msg {
    text-align: center;
}


#login-form {
    text-align: center;
}


.login-form-field::placeholder {
    color: #424141
}


#login-form-submit {
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: gray;
    cursor: pointer;
    outline: none;
}

body{
    background-image: url("/img/login_bg.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.box{
    background-color: rgba(175, 120, 246, 0.3);
    padding: 2%;
    margin: 1%;
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
}
button{
    color: black;
}

.button {
    transition-duration: 0.4s;
    border-radius: 10px;
    width: 100px;
  }
  
  .button:hover {
    background-color: rgb(160, 0, 210); /* Green */
    color: white;
  }