/* CSS for every page */

body {
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro
}

.nav-bar-li {
    float: left;
}

.nav-bar-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-li a:hover {
    background-color: rgb(143, 143, 143);
}